<div class="container">
  <div class="row">

    <p></p>
    <h1>Bootstrap Table Panel with Pagination</h1>
    <p>A simple example of how-to put a bordered table within a panel. Responsive, place holders in header/footer for buttons
      or pagination.</p>
    <p>Follow me
      <a href="https://twitter.com/asked_io" target="_new">@asked_io</a> &
      <a href="https://asked.io/" target="_new">asked.io</a>.</p>
    <p> </p>
    <p> </p>

    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-6">
              <h2 class="panel-title">Cuadre</h2>
            </div>
            <div class="col col-xs-6 text-right">
              <button type="button" class="btn btn-sm btn-primary btn-create" (click)="clearAll()">Borrar Todo</button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-list">
            <thead>
              <tr>
                <th style="width: 10%">
                  <h2>
                    Denominacion
                  </h2>
                </th>
                <th style="width: 30%; ">
                  <h2>
                    Unidad
                  </h2>
                </th>
                <th>
                  <h2>
                    Monto
                  </h2>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h3 class="dn">{{ denom.diez }}</h3>
                </td>
                <td>
                  <input [(ngModel)]="unidad.diez" type="text" class="form-control" (keyup)="calcular(denom.diez, unidad.diez)">
                </td>
                <td>
                  <h3 class="dn">
                    {{monto['0.1']}}
                  </h3>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="dn">{{ denom.vein }}</h3>
                </td>
                <td>
                  <input [(ngModel)]="unidad.vein" type="text" class="form-control" (keyup)="calcular(denom.vein, unidad.vein)">
                </td>
                <td>
                  <h3 class="dn">
                    {{monto['0.2']}}
                  </h3>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="dn">{{ denom.unso }}</h3>
                </td>
                <td>
                  <input [(ngModel)]="unidad.unso" type="text" class="form-control" (keyup)="calcular(denom.unso, unidad.unso)">
                </td>
                <td>
                  <h3 class="dn">
                    {{monto['1']}}
                  </h3>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="dn">{{ denom.doso }}</h3>
                </td>
                <td>
                  <input [(ngModel)]="unidad.doso" type="text" class="form-control" (keyup)="calcular(denom.doso, unidad.doso)">
                </td>
                <td>
                  <h3 class="dn">
                    {{monto['2']}}
                  </h3>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="dn">{{ denom.cinco }}</h3>
                </td>
                <td>
                  <input [(ngModel)]="unidad.cinco" type="text" class="form-control" (keyup)="calcular(denom.cinco, unidad.cinco)">
                </td>
                <td>
                  <h3 class="dn">
                    {{monto['5']}}
                  </h3>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="dn">{{ denom.diezso }}</h3>
                </td>
                <td>
                  <input [(ngModel)]="unidad.diezso" type="text" class="form-control" (keyup)="calcular(denom.diezso, unidad.diezso)">
                </td>
                <td>
                  <h3 class="dn">
                    {{monto['10']}}
                  </h3>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="dn">{{ denom.veinso }}</h3>
                </td>
                <td>
                  <input [(ngModel)]="unidad.veinso" type="text" class="form-control" (keyup)="calcular(denom.veinso, unidad.veinso)">
                </td>
                <td>
                  <h3 class="dn">
                    {{monto['20']}}
                  </h3>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="dn">{{ denom.cincuso }}</h3>
                </td>
                <td>
                  <input [(ngModel)]="unidad.cincuso" type="text" class="form-control" (keyup)="calcular(denom.cincuso, unidad.cincuso)">
                </td>
                <td>
                  <h3 class="dn">
                    {{monto['50']}}
                  </h3>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="dn">{{ denom.cienso }}</h3>
                </td>
                <td>
                  <input [(ngModel)]="unidad.cienso" type="text" class="form-control" (keyup)="calcular(denom.cienso, unidad.cienso)">
                </td>
                <td>
                  <h3 class="dn">
                    {{monto['100']}}
                  </h3>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="dn">{{ denom.dosciso }}</h3>
                </td>
                <td>
                  <input [(ngModel)]="unidad.dosciso" type="text" class="form-control" (keyup)="calcular(denom.dosciso, unidad.dosciso)">
                </td>
                <td>
                  <h3 class="dn">
                    {{monto['200']}}
                  </h3>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div>
  </div>
</div>